
  input[type=date], input[type=number],
   input[type=email], input[type=text], 
   select, textarea
  {
      display: inline-block;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin: 8px 0;
      padding: 12px 20px;
  }
  